* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 300vh;

}

header{
    background-color: black;
    height: 8vh;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
header div#menu{
    color: white;
    flex-basis: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header #menu i{
    color: white;
    font-size: 30px

}
header figure{
    background-color: rosybrown;
    color: white;
    height: 100%; 
}
header figure img{
    height: 100%;
}
header form{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}
header form input{
   background-color:antiquewhite;
    padding: 6px;
    border-radius: 15px;
    font-size: 20px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav{
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
header nav a{
    display: none;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header nav a:hover{
    color: rgb(218, 253, 111)
}

header #carrito{
    color: white;
    flex-basis: 10%; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;   
    justify-content: space-around;
    align-items: center;
}
header #carrito i{
    font-size: 25px;
    color: green;
}

main{
    background-color: rgb(255, 255, 255);
    flex-basis: 65%;
    
    border: 2px solid black;
}
main section{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
main section article{
    flex-basis: 20%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; 
    align-items: center;  
    position: relative;
  
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,.1);
    padding: 20px;
    transition: transform 0.2s ease-in;
}
main section article:hover{
    transform: translateY(-10px);
}

main section article p{
    color: red
}
main section article .badge{
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgb(183,67,139);
    color: whitesmoke;
    padding: 5px 10px;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    width: 50%;
    z-index: 10;
}
main section article .nombre{
    color: blue
}

main section article figure{
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 150px;
    position: relative;
}
main section article figure img{
    border: 0px solid blue;
    height: 100%;
    position: absolute;
    top: 0px;

}
main section article .nombre{
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main section article p {
    border: 0px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
main section article p .star i {
    font-size: 10px;
    color: yellow;
    margin-right: 3px;
}
main section article p .valoracion {
    font-size: 10px;
    color: red;
    margin-right: 3px;
}

main section article p .opiniones{
    font-size: 10px;
    color: green;
}
main section article div {
    margin: 5px 0px 5px 0px;
    border: 0px solid red;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    align-items: center;
    width: 100%;
}
main section article div .dto{
    background-color: rgb(183,67,139);
    color: black;
    padding: 2px;
    border-radius: 7px;
    font-size: 12px;
    height: 50%;
}
main section article div .precios{
    display: flex;
    flex-direction: column;
    border: 0px solid black
}
main section article div .precios .pvp {
    font-size: 20px;
    font-weight: bold;
}
footer{
    background-color: black;
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
}

footer nav#sociales{
    border: 1px solid black;
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
}
footer nav#sociales a {
    text-decoration: none;
    border: 0px solid black; 
    background-color: lightgreen;
    display: inline-block;
    
    width: 50px;
    height: 50px;
    border-radius:50px;
    margin-right: 7px;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    transition: transform 0.3s ease-in-out; 
}
footer nav#sociales a:hover {
    transform: translate(0px, -10px);
    transform: rotate(360deg);
}
footer nav#sociales a i {
    font-size: 30px;
    color: white;
}
footer div#subscribete{
    border: 1px solid black;
    flex-basis: 50%;
}
footer article {
    border: 1px solid black;
    flex-basis: 33%;
    padding-top: 20px;
}
footer article h3 {
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
}
footer article nav{
    display: flex;
    flex-direction: column;
    margin-left: 25px;
}
footer article nav a{
    display: flex;
    flex-direction: row;
    justify-content: start;
    border: 1px solid black;
    margin-bottom: 10px;
    height: 30px;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
}
footer article nav a i{
    font-size: 25px;
    margin-right: 10px;
}

footer article nav a span {
    font-size: 18px;
}

