* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    background-color: rgb(143, 7, 102);
    width: 100vw;
}

header
{ 
    height: 10vh; 
    background-color: rgb(143, 7, 102);
   border: 1px solid black; 
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header figure
{
    border: 1px solid black;
    height: 100%;
    margin-left: 20px;
    margin-right: 20px;
}

header figure img
{
    height: 100%;
    max-height: 80px;
    object-fit: contain;
}
/* selector descendiente */
header h1
{
    color :rgb(0, 0, 0);
    text-align: center;
    border: 1px solid black;
    display: inline-block;
}

header nav
{
    border: 2px solid black;
    text-align: center;
}

header nav a
{
    color: white;
    text-align: center;
    display: inline-block; 
    margin-right: 10px;
    text-decoration: none;
    font-size: 20px;
}
header nav a:hover
{
    text-decoration: underline;
}
main
{
    height: 80vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /* elementos flexbox */
}

main nav
{
    border: 2px solid black;
    flex-basis: 20%;
}
main section
{
    border: 2px solid black;
    flex-basis: 70%;
}

main aside
{
    border: 2px solid black;
    flex-basis: 20%;
}

footer
{
    height: 10vh;
    background-color: rgb(82, 82, 82);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
footer div
{
    border: 2px solid black;
    flex-basis: 20%;
}

footer p
{
    color: white;
    text-align: center;
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main nav ul,
main aside ul
{
    list-style: none;
    padding: 10px;
}

main nav a,
main aside a
{
    color: rgb(143, 7, 102);
    text-decoration: none;
}

main nav a:hover,
main aside a:hover
{
    text-decoration: underline;
}

main section
{
    padding: 20px;
}

main nav h3,
main aside h3
{
    padding: 10px;
    background-color: rgb(143, 7, 102);
    color: white;
    margin-bottom: 10px;
}