/* estructura de un selector css:
    nombre_del_selector {
        propiedad1: valor;
        propiedad2: valor;
        propiedad3: valor;
}

*/
h1 {
    color:rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 30px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: overline;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 30px;
    line-height: 50px;

    text-align: center;
}

p {
    text-align: justify;
    line-height: 1.3;
    text-indent: 20px;
     margin-left: 10px;
     margin-right: 50px;
     margin-top: 20px;
     margin-bottom: 30px;
     border: 2px solid green;
     border-bottom-left-radius: 50px;
     background-color: rgba(0, 0, 200, 1);
     padding: 10px;

}